/*Todo CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Todo Custom Properties */

:root {
    --primary-color: #FF9614
}


/*# Generics */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F6F5F3;
}

img,
iframe {
    max-width: 100%;
    display: block;
}

iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: 'Nerko One', cursive;
    font-size: 3rem;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 15px;
    text-shadow: 2px 1px 1px gray;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 50px 0 15px 0;
}

h3 {
    font-size: 2rem;
    font-weight: 800;
    color: #4e3969;
    padding: 20px 0;
}

h4 {
    margin: 10px 0;
}

address {
    font-style: normal;
}

.fas {
    color: var(--primary-color);
}

.fa-ul li {
    margin: 10px 0;
}

/** Utils */

.separator {
    width: 85px;
    height: 3px;
    background-color: var(--primary-color);
    margin-bottom: 20px;
}

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

/*^ Layout */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;
}

/*| CONTAINER */

.container {
    max-width: 760px;
    margin: 0 auto;
    padding: 20px;
}

/** header  */

.header {
    background-color: #fff;
    text-align: center;
    font-size: 2rem;
}

/** main */

/*# SECTION INTRO */

.category {
    font-weight: 300;
    text-transform: uppercase;
    color: #4e3969;
}

.recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.rate {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.rate a {
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 1rem;
    padding: 10px 15px;
    color: #fff;
    border-radius: 25px;
    margin-left: 5px;
}

.rate span {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

/*# VIDEO */

.video-box {
    height: 50vw;
}

/*# CARD */

.card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 5px 10px lightgrey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.info-box {
    background-color: #F6F5F3;
    padding: 0 20px;
    margin: 10px;
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.info-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
}

.info-bottom {
    text-transform: uppercase;
    padding: 15px 0;
}

#calories {
    color: #fff;
    background-color: #7C69A4;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
}

#info {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 700;

}


/*# SOCIAL E PUBBLICITÀ */

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.btn {
    background-color: #fff;
    padding: 10px 15px;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 5px 10px lightgrey;
}

.fab-text {
    font-size: 0.9rem;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    display: none;
}

.fa-facebook {
    color: #0866FF;
}

.fa-twitter {
    color: #009eff;
}

.fa-instagram {
    color: #F90A78;
}

.fa-pinterest {
    color: #B7081B;
}

.fa-youtube {
    color: #FF0000;
}

.banner-ad img {
    margin-top: 30px;
}

/*# PRESENTAZIONE */

#content picture {
    display: flex;
    justify-content: center;
}

#content img {
    width: 350px;
}

#content p {
    line-height: 2rem;
    margin-bottom: 50px;
}

/** footer */

footer {
    color: #fff;
    background-color: #7C69A4;
    font-size: 0.9rem;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}