/*Todo CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Todo Custom Properties */

:root {
    --primary-color: #FF9614
}


/*# Generics */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F6F5F3;
}

img,
iframe {
    max-width: 100%;
    display: block;
}

iframe {
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: 'Nerko One', cursive;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 15px;
    text-shadow: 2px 1px 1px gray;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 0;
}

h3 {
    font-size: 2rem;
    font-weight: 800;
    color: #4e3969;
    padding: 20px 0;
}

header {
    background-color: #fff;
    text-align: center;
    font-size: 2rem;
}

.fas {
    color: var(--primary-color);
}

.fa-ul li {
    margin: 10px 0;
}

/** Utils */

.separator {
    width: 85px;
    height: 3px;
    background-color: var(--primary-color);
    margin-bottom: 20px;

}

/*^ Layout */

/*| ROW */

.row {
    display: flex;
    flex-wrap: wrap;
}

.row.cols-2>.col {
    flex-basis: calc(100% / 2);
}

.row.cols-3>.col {
    flex-basis: calc(100% / 3);
}

.row.cols-4>.col {
    flex-basis: calc(100% / 4);
}

.row.cols-5>.col {
    flex-basis: calc(100% / 5);
}

.row.cols-6>.col {
    flex-basis: calc(100% / 6);
}

/*| GATTER */
/* 10 */
.row.g-10 {
    margin: 0 -10px;
}

.row.g-10>.col {
    padding: 0 10px;
}

/* 20 */
.row.g-20 {
    margin: 0 -20px;
}

.row.g-20>.col {
    padding: 0 20px;
}

/* 30 */
.row.g-30 {
    margin: 0 -30px;
}

.row.g-30>.col {
    padding: 0 30px;
}

/* 40 */
.row.g-40 {
    margin: 0 -40px;
}

.row.g-40>.col {
    padding: 0 40px;
}

/* 50 */
.row.g-50 {
    margin: 0 -50px;
}

.row.g-50>.col {
    padding: 0 50px;
}


/*| CONTAINER */

.container {
    max-width: 768px;
    margin: 0 auto;
    padding: 20px;
}

.col {
    width: 100%;
}

.card {
    background-color: #fff;
    padding: 20px;
}

/** header  */


/** main */

.category {
    font-weight: 300;
    text-transform: uppercase;
    color: #4e3969;
}

.recipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.rate a {
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 1rem;
    padding: 10px 15px;
    color: #fff;
    border-radius: 25px;
    margin-left: 5px;
}

.card {
    box-shadow: 0 5px 10px lightgrey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.info-box {
    background-color: #F6F5F3;
    padding: 0 20px;
    margin: 10px;
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.info-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
}

.info-bottom {
    text-transform: uppercase;
    padding: 15px 0;
}

#calories {
    color: #fff;
    background-color: #7C69A4;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
}

#info {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 700;

}


/*# SOCIAL E PUBBLICITÀ */

.social {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}

.social>li>a {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px lightgrey;
}

.banner-ad {
    display: none;
}

.fa-facebook {
    color: #0866FF;
}

.fa-twitter {
    color: #009eff;
}

.fa-instagram {
    color: #F90A78;
}

.fa-pinterest {
    color: #B7081B;
}

.fa-youtube {
    color: #FF0000;
}

/*# PRESENTAZIONE */

#content picture {
    display: flex;
    justify-content: center;
}

#content img {
    width: 350px;
}

#content p {
    line-height: 2rem;
    margin: 15px 0;
}

/** footer */

footer {
    background-color: #7C69A4;
}